.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(90, 90, 110);
    font-size: 20px;
    height: 6vh;
}

.label {}

.input {
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    font-size: 20px;
    color: black;
    width: 80vh;
}

.input:visited {
    scale: 3;
}

.submit {
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
}

.submit:hover {
    cursor: pointer;
}